{% load static %}
<!DOCTYPE html>
<html lang="{{language}}">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="{{meta_description}}">
    <meta name="keywords" content="{{meta_title}}, myreadingmanga, manga kakalot, toonily, manganelo, manhwa, manga owls, manga read, mangafreak, manga online, free manga">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="copyright" content="Copyright © 2022 MangaRed" />
    <meta name="Author" content="MangaRed" />

    <meta property="og:type" content="website" />
    <meta property="og:title" content="{{meta_title}}" />
    <meta property="og:url" content="{{request.build_absolute_uri}}" />
    <meta property="og:description" content="{{meta_description}}" />
    <meta property="og:site_name" content="{{request.get_host}}" />

    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{meta_title}}</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3931766602130473"
     crossorigin="anonymous"></script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-S1W2NNZ0W5"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-S1W2NNZ0W5');
    </script>

    <!-- Css Styles -->
    <link rel="stylesheet" href="{% static '/css/bootstrap.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static '/css/font-awesome.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static '/css/elegant-icons.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static '/css/plyr.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static '/css/nice-select.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static '/css/owl.carousel.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static '/css/slicknav.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static '/css/style.css' %}" type="text/css">
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Header Section Begin -->
    <header class="header">
        <div class="container">
            <div class="row">
                <div class="col-lg-2">
                    <div class="header__logo">
                        <a href="/"><img src="{% static 'img/logo.png' %}" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="header__nav">
                    <nav class="header__menu mobile-menu">
                        <ul>
                            <li {% if current_page == "index" %} class="active" {% endif %}><a href="/">Homepage</a></li>
                            <li {% if current_page == "trending_now" %} class="active" {% endif %}><a href="/{{language}}/manga/?sort_by=trending_now">Trending Now</a></li>
                            <li {% if current_page == "popular_manga" %} class="active" {% endif %}><a href="/{{language}}/manga/?sort_by=popular_manga">Popular Manga</a></li>
                            <li {% if current_page == "recently_added" %} class="active" {% endif %}><a href="/{{language}}/manga/?sort_by=recently_added">Latest Manga</a></li>
                        </ul>
                    </nav>
                </div>
                </div>
                <div class="col-lg-2">
                    <div class="header__right">
                        <a href="#" class="search-switch"><span class="icon_search"></span></a>
                    </div>
                </div>
            </div>
            <div id="mobile-menu-wrap"></div>
        </div>
    </header>
    <!-- Header End -->

    {% block content %}{% endblock %}

    <!-- Footer Section Begin -->
    <footer class="footer">
        <div class="page-up">
            <a href="#" id="scrollToTopButton"><span class="arrow_carrot-up"></span></a>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="footer__logo">
                        <a href="/"><img src="{% static 'img/logo.png' %}" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="footer__nav">
                        <ul>
                            <li {% if current_page == "index" %} class="active" {% endif %}><a href="/">Homepage</a></li>
                            <li {% if current_page == "trending_now" %} class="active" {% endif %}><a href="/">Trending Now</a></li>
                            <li {% if current_page == "popular_manga" %} class="active" {% endif %}><a href="/">Popular Manga</a></li>
                            <li {% if current_page == "recently_added" %} class="active" {% endif %}><a href="/">Latest Manga</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3">
                    <p>Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved.
                  </div>
              </div>
          </div>
      </footer>
    <!-- Footer Section End -->


    <!-- Search model Begin -->
    <div class="search-model">
        <div class="h-100 d-flex align-items-center justify-content-center">
            <div class="search-close-switch"><i class="icon_close"></i></div>
            <form action="/{{language}}/manga/" class="search-model-form">
                <input type="text" id="search" name="search" placeholder="Search here...">
            </form>
        </div>
    </div>
    <!-- Search model end -->

    <!-- Js Plugins -->
    <script src="{% static '/js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static '/js/bootstrap.min.js' %}"></script>
    <script src="{% static '/js/player.js' %}"></script>
    <script src="{% static '/js/jquery.nice-select.min.js' %}"></script>
    <script src="{% static '/js/mixitup.min.js' %}"></script>
    <script src="{% static '/js/jquery.slicknav.js' %}"></script>
    <script src="{% static '/js/owl.carousel.min.js' %}"></script>
    <script src="{% static '/js/main.js' %}"></script>
</body>

</html>